body {background: linear-gradient(to right, #46c7a9, #b175eb);
      animation: background 5s linear infinite;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;}

.container {color: white; font-family: "Arial"; font-size: 30px; text-align: center;}

.html-container {color: white; font-family: "Arial"; font-size: 20px; border: 5px white; height: 10px; width: 50%; text-align: center; background-color: white}
    .html-container:hover {transform: scale(1.1);}

h2 {font-size: 50px; }
